{% extends 'layout.html' %}

{% block content %}
    <h1 id="doc-edit-title">{{ file_name }}</h1>
    <div>
        <form action="{{ url_for('document.doc_save', id=doc_id) }}">
            <div id="content-box">
                <textarea name="content" cols="80" rows="50">{{ content }}</textarea>
            </div>
            <div id="save-button">
                <button class="btn btn-primary">Save Changes</button>
            </div>
            <!-- <input type="submit" name="Save" value="Save">
            <input type="submit" name="Discard" value="Discard"> -->
        </form>
                <a href="{{ url_for('document.doc_discard', id=doc_id) }}" id="discard-button">
                    <button class="btn btn-primary">Discard Changes</button>
                </a>
    </div>
{% endblock %}