{% extends 'layout.html' %}

{% block content %}
    <h1>Your Documents</h1>
    <div id="custom-create">
        <h3>Create New MD File</h3>
        <form action="{{ url_for('document.doc_create') }}" method="post">
            <input type="text" name="file_name" placeholder="File Name">
            <button>Create</button>
        </form>
    </div>
    
    <div class="card">
        {% if docs|length %}
            {% for doc in docs %}
            <div id="custom-card-body" class="card-body">
                <h5 id="custom-card-title" class="card-title">{{ doc.docname }}</h5>
                <div class="card-options">
                    <a href="{{ url_for('document.doc_edit', id=doc.id) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for('document.doc_convert', id=doc.id) }}" class="btn btn-primary" target="_blank">Convert & Download</a>
                    <a href="{{ url_for('document.doc_delete', id=doc.id) }}" class="btn btn-primary">Delete</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>You havent made any documents yet.</p>
        {% endif %}
    </div>
{% endblock %}