{% extends 'layout.html' %}

{% block content %}
    <div>
        <h3>Login</h3>
        <div class="login-form">
            <form action="{{ url_for('auth.auth_login') }}" method="POST">
                <input class="login-info" type="text" name="username" placeholder="Username" autofocus="">
                <input class="login-info" type="password" name="password" placeholder="Password">
                <div class="checkbox">
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">Remember Me</label>
                </div>
                <input type="submit" name="Login" value="Login">
                <input type="submit" name="Cancel" value="Cancel">
            </form>
        </div>
    </div>
{% endblock %}