#doc-edit-title {
    display: flex;
    justify-content: center;
}

#content-box {
    display: flex;
    justify-content: center;
}

#save-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#discard-button {
    display: flex;
    justify-content: center;
}

/* .edit-doc {

} */