h1.register-title {
    margin: 3%;
}

.register-form {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

input.register-info {
    display: block;
    margin-bottom: 1%;
}